<div class="media" id="comment-<%= comment.id%>">
  <%= gravatar_for (comment.user)%>
  <div class="media-body comment-content">
    <h5 class="mt-0">
      <%= comment.user.name%>
      <small>
        <%= time_ago_in_words(comment.created_at)%> ago
      </small>
    </h5>
    <%= comment.content%>
    <%= link_to "Edit", edit_post_comment_path(comment, post_id: @post.id), remote: true %>
    <%= link_to "Delete", [@post, comment], method: :delete, remote:true, data: { confirm: "You sure?" } %>
  </div>
  <div class="edit-form"></div>
</div>
