<div class="card mbb-4">
  <img class="card-img-top" src="<%= @post.image_url %>" alt="Card image cap">

  <div class="card-body">
    <h2 class="card-title"><%= @post.title %></h2>
    <p class="card-text">
      <%= @post.content %>
    </p>
    <a href="#" class="btn btn-primary"></a>
  </div>

  <div class="card-footer text-muted">
  <%= render partial:"comments/form", locals: {comment: @comment, post: @post}%>
  </div>
  <div class="list-comments">
    <% @comments.each do |comment| %>
      <%= render partial:"comments/comment", locals: {comment: comment, post: @post} %>
    <% end %>
  </div>

</div>
